/* CSS Sprite Map */
.sprite {
	background-image: url('assets/sprites/sprite-widgets.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.sprite-alcar_widget {
	width: 128px;
	height: 128px;
	background-position: -0px -0px;
}
.sprite-eric_widget {
	width: 128px;
	height: 128px;
	background-position: -128px -0px;
}
.sprite-rosa_widget {
	width: 128px;
	height: 128px;
	background-position: -256px -0px;
}
.sprite-jabel_widget {
	width: 128px;
	height: 128px;
	background-position: -384px -0px;
}
.sprite-wee_woo_widget {
	width: 128px;
	height: 128px;
	background-position: -512px -0px;
}
.sprite-vivian_widget {
	width: 128px;
	height: 128px;
	background-position: -0px -128px;
}
.sprite-amadeus_widget {
	width: 128px;
	height: 128px;
	background-position: -128px -128px;
}
.sprite-hilde_widget {
	width: 128px;
	height: 128px;
	background-position: -256px -128px;
}
.sprite-saul_widget {
	width: 128px;
	height: 128px;
	background-position: -384px -128px;
}
.sprite-marlin_widget {
	width: 128px;
	height: 128px;
	background-position: -512px -128px;
}
.sprite-triton_widget {
	width: 128px;
	height: 128px;
	background-position: -0px -256px;
}
.sprite-helga_widget {
	width: 128px;
	height: 128px;
	background-position: -128px -256px;
}
.sprite-yang_widget {
	width: 128px;
	height: 128px;
	background-position: -256px -256px;
}
.sprite-margot_widget {
	width: 128px;
	height: 128px;
	background-position: -384px -256px;
}
.sprite-sophia_widget {
	width: 128px;
	height: 128px;
	background-position: -512px -256px;
}
.sprite-petra_widget {
	width: 128px;
	height: 128px;
	background-position: -0px -384px;
}
.sprite-charles_widget {
	width: 128px;
	height: 128px;
	background-position: -128px -384px;
}
.sprite-thrud_widget {
	width: 128px;
	height: 128px;
	background-position: -256px -384px;
}
.sprite-long_fei_widget {
	width: 128px;
	height: 128px;
	background-position: -384px -384px;
}
.sprite-jaeger_widget {
	width: 128px;
	height: 128px;
	background-position: -512px -384px;
}
.sprite-ava_widget {
	width: 128px;
	height: 128px;
	background-position: -0px -512px;
}
.sprite-zoe_widget {
	width: 128px;
	height: 128px;
	background-position: -128px -512px;
}
