/* CSS Sprite Map */
.sprite {
	background-image: url('assets/sprites/sprite-resources.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.sprite-advanced_taming_mark {
	width: 1024px;
	height: 1024px;
	background-position: -0px -0px;
}
.sprite-artisans_vision {
	width: 1024px;
	height: 1024px;
	background-position: -1024px -0px;
}
.sprite-Bread {
	width: 1024px;
	height: 1024px;
	background-position: -2048px -0px;
}
.sprite-building_speedup {
	width: 1024px;
	height: 1024px;
	background-position: -3072px -0px;
}
.sprite-common_taming_mark {
	width: 1024px;
	height: 1024px;
	background-position: -4096px -0px;
}
.sprite-charm_design {
	width: 1024px;
	height: 1024px;
	background-position: -5120px -0px;
}
.sprite-charm_guide {
	width: 1024px;
	height: 1024px;
	background-position: -6144px -0px;
}
.sprite-epic_general_shard {
	width: 1024px;
	height: 1024px;
	background-position: -0px -1024px;
}
.sprite-general_emblem {
	width: 1024px;
	height: 1024px;
	background-position: -1024px -1024px;
}
.sprite-general_speedup {
	width: 1024px;
	height: 1024px;
	background-position: -2048px -1024px;
}
.sprite-forge_hammer {
	width: 1024px;
	height: 1024px;
	background-position: -3072px -1024px;
}
.sprite-gilded_threads {
	width: 1024px;
	height: 1024px;
	background-position: -4096px -1024px;
}
.sprite-Gold {
	width: 1024px;
	height: 1024px;
	background-position: -5120px -1024px;
}
.sprite-hero_roulette {
	width: 1024px;
	height: 1024px;
	background-position: -6144px -1024px;
}
.sprite-growth_manual {
	width: 1024px;
	height: 1024px;
	background-position: -0px -2048px;
}
.sprite-master_speedup {
	width: 1024px;
	height: 1024px;
	background-position: -1024px -2048px;
}
.sprite-hero_xp {
	width: 1024px;
	height: 1024px;
	background-position: -2048px -2048px;
}
.sprite-mythic_general_shard {
	width: 1024px;
	height: 1024px;
	background-position: -3072px -2048px;
}
.sprite-nutrient_potion {
	width: 1024px;
	height: 1024px;
	background-position: -4096px -2048px;
}
.sprite-rare_general_shard {
	width: 1024px;
	height: 1024px;
	background-position: -5120px -2048px;
}
.sprite-satin {
	width: 1024px;
	height: 1024px;
	background-position: -6144px -2048px;
}
.sprite-Iron {
	width: 1024px;
	height: 1024px;
	background-position: -0px -3072px;
}
.sprite-master_manuscript {
	width: 1024px;
	height: 1024px;
	background-position: -1024px -3072px;
}
.sprite-Stone {
	width: 1024px;
	height: 1024px;
	background-position: -2048px -3072px;
}
.sprite-mithril {
	width: 1024px;
	height: 1024px;
	background-position: -3072px -3072px;
}
.sprite-widgets {
	width: 1024px;
	height: 1024px;
	background-position: -4096px -3072px;
}
.sprite-promotion_medallion {
	width: 1024px;
	height: 1024px;
	background-position: -5120px -3072px;
}
.sprite-pet_food {
	width: 1024px;
	height: 1024px;
	background-position: -6144px -3072px;
}
.sprite-research_speedup {
	width: 1024px;
	height: 1024px;
	background-position: -0px -4096px;
}
.sprite-stamina {
	width: 1024px;
	height: 1024px;
	background-position: -1024px -4096px;
}
.sprite-tempered_truegold {
	width: 1024px;
	height: 1024px;
	background-position: -2048px -4096px;
}
.sprite-training_speedup {
	width: 1024px;
	height: 1024px;
	background-position: -3072px -4096px;
}
.sprite-truegold {
	width: 1024px;
	height: 1024px;
	background-position: -4096px -4096px;
}
.sprite-truegold_dust {
	width: 1024px;
	height: 1024px;
	background-position: -5120px -4096px;
}
.sprite-Wood {
	width: 1024px;
	height: 1024px;
	background-position: -6144px -4096px;
}
.sprite-Archer {
	width: 1024px;
	height: 1024px;
	background-position: -0px -5120px;
}
.sprite-hero-gear-mythic {
	width: 1024px;
	height: 1024px;
	background-position: -1024px -5120px;
}
.sprite-mythic-gear {
	width: 1024px;
	height: 1024px;
	background-position: -2048px -5120px;
}
.sprite-hero-gear-red {
	width: 1024px;
	height: 1024px;
	background-position: -3072px -5120px;
}
.sprite-Cavalry {
	width: 1024px;
	height: 1024px;
	background-position: -4096px -5120px;
}
.sprite-Infantry {
	width: 1024px;
	height: 1024px;
	background-position: -5120px -5120px;
}
