/* CSS Sprite Map */
.sprite {
	background-image: url('assets/sprites/sprite-war-academy.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.sprite-truegold_bows {
	width: 1024px;
	height: 1024px;
	background-position: -20px -20px;
}
.sprite-truegold_bracers {
	width: 1024px;
	height: 1024px;
	background-position: -1064px -20px;
}
.sprite-truegold_cavalry {
	width: 1024px;
	height: 1024px;
	background-position: -2108px -20px;
}
.sprite-truegold_cavalry_aid {
	width: 1024px;
	height: 1024px;
	background-position: -3152px -20px;
}
.sprite-truegold_cavalry_healing {
	width: 1024px;
	height: 1024px;
	background-position: -4196px -20px;
}
.sprite-truegold_cavalry_training {
	width: 1024px;
	height: 1024px;
	background-position: -5240px -20px;
}
.sprite-truegold_farriery {
	width: 1024px;
	height: 1024px;
	background-position: -20px -1064px;
}
.sprite-truegold_charge {
	width: 1024px;
	height: 1024px;
	background-position: -1064px -1064px;
}
.sprite-truegold_infantry {
	width: 1024px;
	height: 1024px;
	background-position: -2108px -1064px;
}
.sprite-truegold_infantry_aid {
	width: 1024px;
	height: 1024px;
	background-position: -3152px -1064px;
}
.sprite-truegold_infantry_healing {
	width: 1024px;
	height: 1024px;
	background-position: -4196px -1064px;
}
.sprite-truegold_infantry_training {
	width: 1024px;
	height: 1024px;
	background-position: -5240px -1064px;
}
.sprite-truegold_lances {
	width: 1024px;
	height: 1024px;
	background-position: -20px -2108px;
}
.sprite-truegold_legionaries_archer {
	width: 1024px;
	height: 1024px;
	background-position: -1064px -2108px;
}
.sprite-truegold_legionaries_cavalry {
	width: 1024px;
	height: 1024px;
	background-position: -2108px -2108px;
}
.sprite-truegold_legionaries_infantry {
	width: 1024px;
	height: 1024px;
	background-position: -3152px -2108px;
}
.sprite-truegold_mauls {
	width: 1024px;
	height: 1024px;
	background-position: -4196px -2108px;
}
.sprite-truegold_platecraft {
	width: 1024px;
	height: 1024px;
	background-position: -5240px -2108px;
}
.sprite-truegold_plating {
	width: 1024px;
	height: 1024px;
	background-position: -20px -3152px;
}
.sprite-truegold_shields {
	width: 1024px;
	height: 1024px;
	background-position: -1064px -3152px;
}
.sprite-truegold_vests {
	width: 1024px;
	height: 1024px;
	background-position: -2108px -3152px;
}
.sprite-truegold_archer_aid {
	width: 1024px;
	height: 1024px;
	background-position: -3152px -3152px;
}
.sprite-truegold_archer_training {
	width: 1024px;
	height: 1024px;
	background-position: -4196px -3152px;
}
.sprite-truegold_arrows {
	width: 1024px;
	height: 1024px;
	background-position: -5240px -3152px;
}
.sprite-truegold_archer {
	width: 1024px;
	height: 1024px;
	background-position: -20px -4196px;
}
.sprite-truegold_archer_healing {
	width: 1024px;
	height: 1024px;
	background-position: -1064px -4196px;
}
.sprite-truegold_battalion_cavalry {
	width: 1024px;
	height: 1024px;
	background-position: -2108px -4196px;
}
.sprite-truegold_battalion_infantry {
	width: 1024px;
	height: 1024px;
	background-position: -3152px -4196px;
}
.sprite-truegold_battalion_archer {
	width: 1024px;
	height: 1024px;
	background-position: -4196px -4196px;
}
.sprite-truegold_blades {
	width: 1024px;
	height: 1024px;
	background-position: -5240px -4196px;
}
